body {
    background-color: #d4a373;
}

button {
    width: 100%;
    height: 100%;
    background-color: #e3d5ca;
}

button, input, label{
    font-size: 3rem;
}

input, label {
    width: 90%;
    height: 90%;
    border: 0;
    outline: none;
    background-color: #d4a373;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100vh;
}

.grid-item {
    font-size: 30px;
    text-align: center;
}

#label-bar {
    grid-column: 1 / 2;
    text-align: left;
    margin-left: 20px;
}

#number-bar {
    grid-column: 2 / 5;
}

#input {
    text-align: right;
}

#null {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}

#divide {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#multiply {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#minus {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#seven {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#eight {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#nine {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#four {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#five {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#six {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#plus {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

#one {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
#two {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
#three {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}
#zero {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
#dot {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}
#equals {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
}